dist
*.tar.*
\#*
.\#*
*~
*.py[co]
*.rpm
AUTHORS
Makefile.in
aclocal.m4
autom4te.cache
build
config.log
config.status
configure
noarch
mock-unit-test
patches
bugzillas
*.patch
tags
TAGS
test-suite.log
tests/runtests.sh.log
tests/runtests.sh.trs
