dist
*.tar.*
\#*
.\#*
*~
*.py[co]
*.rpm
AUTHORS
Makefile.in
aclocal.m4
autom4te.cache
build
config.log
config.status
configure
noarch
mock-unit-test
patches
bugzillas
*.patch
tags
TAGS
test-suite.log
integration-tests/runtests.sh.log
integration-tests/runtests.sh.trs
docs/_site
docs/.sass-cache
docs/.jekyll-cache
docs/.jekyll-metadata
docs/vendor
docs/Gemfile.lock
docs/Release-Notes-Next.md
