dist
*.tar.*
\#*
.\#*
*~
*.py[co]
*.rpm
AUTHORS
Makefile.in
aclocal.m4
autom4te.cache
build
config.log
config.status
configure
noarch
mock-unit-test
patches
bugzillas
*.patch
tags
TAGS
test-suite.log
integration-tests/runtests.sh.log
integration-tests/runtests.sh.trs
doc/_site
doc/.sass-cache
doc/.jekyll-cache
doc/.jekyll-metadata
doc/vendor
doc/Gemfile.lock
