The AlmaLinux Kitten + EPEL 10 configs have been updated to use a new 10s
pattern.  This is related to a minor reconfiguration of EPEL 10 minor version
repo redirects.  See [this discussion
thread](https://discussion.fedoraproject.org/t/looking-back-at-epel-10-and-forward-to-epel-11/197373)
for more details.
