Update the list of packages installed by default in the Azure Linux 2 & 3 chroot to include shadow-utils. Due to recent changes, the useradd/groupadd commands are required by other packages in the list, but the requirements are not specified correctly.
Add %dist macro to the Azure Linux 3 template.
