Per the approved [Fedora 40 change](https://fedoraproject.org/wiki/Changes/BuildWithDNF5),
[we switched][PR#1256] the default `package_manager` configuration for Fedora 40
(Rawhide at that point in time) to `dnf5`.  DNF5 is [the future replacement for
DNF4](https://fedoraproject.org/wiki/Changes/ReplaceDnfWithDnf5), aiming to be
much faster than its predecessor.  Hence, the effect of this change is a
significantly faster buildroot preparation.
