The default `fedora-eln-*` bootstrap image `quay.io/fedoraci/fedora:eln` [has
been fixed](https://github.com/fedora-eln/eln/issues/166) to provide
the `dnf builddep` command.  It means it is now "ready for bootstrap" right
after the image download (no additional packages need to be installed inside)
which makes the buildroot preparation
[much faster](https://rpm-software-management.github.io/mock/Feature-container-for-bootstrap).
