Previous versions of mock-core-configs referenced `fedora:latest` bootstrap
images for `fedora-rawhide-ARCH` chroots, which led to [package
incompatibilities][issue#1238].  Turns out ELN folks already provide a ["native"
ELN image](https://docs.fedoraproject.org/en-US/eln/deliverables/#_container_image)
so the new configs have switched to use that.
