Fedora Rawhide configurations, such as releasever=41 now, accept GPG keys from
Fedora releasever+1 (for example, 42, not yet used for RPM signatures).  This
change is implemented to address the typically short and unnecessary
inconvenience during [the Fedora branching process][issue#1338] in the future.
