The Fedora Rawhide and Branched configurations have been updated to utilize
bootstrap images `{% raw %}quay.io/rpmsoftwaremanagement/fedora-dnf5:{{ releasever }}{% endraw %}`
for Fedora 40 and newer versions. These images come pre-installed with the
`dnf5` and `dnf5-plugins` packages, allowing Mock to set `bootstrap_image_ready`
and significantly expedite the environment preparation process.
