Add openSUSE Leap 16.0 configurations. Some of the packages are signed with the ALP Package signing key from SUSE Linux Enterprise 16.
openSUSE Leap 16.0 does not have `leap-dnf` images available, so do not use a bootstrap image.
At the moment of writing this, openSUSE Leap 16.0 [does not have all the other repositories of 15.6 available](https://en.opensuse.org/Package_repositories).
