The openSUSE config files have been updated to use the [new `repo_arch` Jinja
template](Release-Notes-5.5) instead of `target_arch`.  This change ensures that
the bootstrap-from-image feature works correctly, always choosing the native
architecture (regardless of multilib or forcearch builds).  It also ensures that
multilib bootstrap installation works correctly even when the bootstrap image is
OFF.
