We [updated the configuration][PR#1195] files for chroots that still use older
RPM versions (v4.18 and earlier), which affects RHEL/CentOS 9 and older.  These
older RPM versions were built with an incorrect default for the `%_host_cpu`
macro in `ppc64le` chroots, where the macro incorrectly resolved to
`powerpc64le` instead of `ppc64le`.

This incorrect value caused issues during architecture validation, such as when
checking `ExclusiveArch: ppc64le` for `BuildArch: noarch` packages (done
in-chroot by `/bin/rpmbuild`).

The incorrect macro value has now been overridden in the relevant `ppc64le`
configuration files in Mock, ensuring that `ExcludeArch` and `ExclusiveArch`
validations resolve correctly.
