The Fedora Rawhide configuration (F41+) has been updated to use the
`bootstrap_image_ready = True` configuration.  The default container images are
[already shipped with the `dnf5-plugins` package](https://pagure.io/fedora-kiwi-descriptions/pull-request/63).

This means we use the container image "as is" to bootstrap the DNF5 stack
without installing any additional packages into the prepared bootstrap chroot.
Consequently, the bootstrap preparation is much faster (bootstrap preparation
basically equals the image download, if not pre-downloaded, and its
"extraction").
