#!/usr/bin/python -tt
import os
config_opts['root'] = 'fedora-3-x86_64-core'
config_opts['basedir'] = '/var/lib/mock/'
config_opts['chroot'] = '/usr/sbin/mock-helper chroot'
config_opts['mount'] = '/usr/sbin/mock-helper mount'
config_opts['umount'] = '/usr/sbin/mock-helper umount'
config_opts['rm'] = '/usr/sbin/mock-helper rm'
config_opts['mknod'] = '/usr/sbin/mock-helper mknod'
config_opts['yum'] = '/usr/sbin/mock-helper yum'
config_opts['runuser'] = '/sbin/runuser'
config_opts['chroot_dep_package'] = 'buildsys-build'
config_opts['chrootuser'] = 'mockbuild'
config_opts['chrootgroup'] = 'mockbuild'
config_opts['chrootuid'] = os.geteuid()
config_opts['chrootgid'] = os.getegid()
config_opts['chroothome'] = '/builddir'
config_opts['clean'] = True
config_opts['target_arch'] = 'x86_64'


config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
logfile=/var/log/yum.log
reposdir=/dev/null
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
exclude=*.i386 *.i686 *.athlon *.i586 *.486

# repos

[core]
name=core
baseurl=http://newmirror.linux.duke.edu/pub/fedora/linux/core/3/x86_64/os/

[updates-released]
name=updates
baseurl=http://newmirror.linux.duke.edu/pub/fedora/linux/core/updates/3/x86_64/

[groups]
name=groups
baseurl=http://fedoraproject.org/chroot_dep_packages/3/x86_64/

[extras]
name=extras
baseurl=http://fedoraproject.org/extras/3/x86_64/

[local]
name=local
baseurl=http://extras64.linux.duke.edu/plague-results/3/

"""



