config_opts["koji_primary_repo"] = "epel-next"
include('templates/centos-stream-9.tpl')
include('templates/epel-9.tpl')
include('templates/epel-next-9.tpl')

config_opts['root'] = 'centos-stream+epel-next-9-ppc64le'
config_opts['description'] = 'CentOS Stream 9 + EPEL Next'
config_opts['target_arch'] = 'ppc64le'
config_opts['legal_host_arches'] = ('ppc64le',)
# see pull-request #1195
config_opts['macros']['%_host_cpu'] = 'ppc64le'
