config_opts['root'] = 'isolated-build'
config_opts['description'] = 'Isolated Build'

config_opts['dnf.conf'] = """
[main]
keepcache=1
system_cachedir=/var/cache/dnf
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=
install_weak_deps=0
metadata_expire=0
best=1
protected_packages=

# repos

[offline]
name=offline repo
baseurl=file://{{ local_directory }}
enabled=True
skip_if_unavailable=False
"""
