config_opts['root'] = 'fedora-7-ppc'
config_opts['target_arch'] = 'ppc'
config_opts['chroot_setup_cmd'] = 'install buildsys-build'
config_opts['dist'] = 'fc7'  # only useful for --resultdir variable subst

config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
exclude=*.ppc64

# repos

[fedora]
name=fedora
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-7&arch=ppc

[updates-released]
name=updates
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f7&arch=ppc

[groups]
name=groups
baseurl=http://buildsys.fedoraproject.org/buildgroups/7/ppc/

[local]
name=local
baseurl=http://koji.fedoraproject.org/static-repos/dist-fc7-build-current/ppc/
exclude=*debuginfo*
enabled=0
"""



