---
on:
  push:
  pull_request:

name: Run Tox tests
jobs:
  tox_test:
    if: "!contains(github.event.pull_request.labels.*.name, 'no-ci-builds')"
    name: Tox test
    steps:
      - uses: actions/checkout@v3
      - name: Run Tox tests
        id: test
        uses: fedora-python/tox-github-action@main
        with:
          tox_env: ${{ matrix.tox_env }}
    strategy:
      matrix:
        tox_env:
          # sync with /tox.ini
          - py39
          - py310
          - py311
          - py312
          - py313

    # Use GitHub's Linux Docker host
    runs-on: ubuntu-latest
